body {
    font-family: monospace;
    background-color: rgb(255, 152, 67);
}

.title {
    font-size: 60px;
    text-align: center;
    color: rgb(255, 221, 149);
}

.recipe-div {
    text-align: center;
    margin: auto 50em;
}

.recipe-list {
    display: inline-block;
    border: 4mm ridge rgba(255, 185, 105, 0.589);
    padding: 30px;
}

.recipe-link {
    font-size: 20px;
    color: rgb(255, 221, 149);
}

.recipe-link:hover {
    text-decoration: none;
    background: rgb(193, 36, 255);
}

.recipe-link:active {
    background: rgb(121, 0, 168);
}

li {
    list-style: none;
    margin: 8px;
}

